.container {
    width: 100%;
    max-width: 450px;
    min-height: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(25, 25, 25, 0.25);
}

.title-container {
    margin: 30px auto;
    color: #444444;
    small {
        display: inline-block;
        font-size: 1.3rem;
        margin-bottom: 5px;
    }
    h4 {
        font: {
            size: 1rem;
            weight: 700;
        }
    }
    button {
        flex: 0 0 64px;
        height: 54px;
        width:50px;
        margin-left: 12em;
        border: 1px solid darken($main-color, 2%);
        border-radius: 4px;
        color: $main-color;
        transition: all .3s ease-in-out;
        &:hover {
            color: #fff;
            background: darken($main-color, 2%);
        }
    }
}

.add-list {
    margin-bottom: 30px;
    form {
        display: flex;
        justify-content: space-between;
        align-content: center;
        .todo-text {
            flex: 0 0 80%;
            height: 54px;
            padding: .7em 1.5em;
            background: none;
            border: 1px solid darken( #fff,  6%);
            border-radius: 4px;
            transition: all .3s ease-in-out;
            &:focus {
                border: 1px solid $main-color;
            }
        }
        button {
            flex: 0 0 64px;
            height: 54px;
            margin-left: 1em;
            border: 1px solid darken($main-color, 2%);
            border-radius: 4px;
            color: $main-color;
            transition: all .3s ease-in-out;
            &:hover {
                color: #fff;
                background: darken($main-color, 2%);
            }
        }
    }
    
}

.status-title {
    margin: 30px 0 15px;
    font-size: 1.1rem;
}

.todo-list {
    width: 100%;
    li {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 3px;
        margin: 10px 0;
        padding: 18px 30px 18px 50px;
        background: darken( #fff,  3%);
        overflow: hidden;
        .todo-checkbox {
            position: relative; 
            display: none;
            opacity: 0;
            &+label {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                width: 23px;
                height: 23px;
                border: 1px solid $main-color;
                border-radius: 2px;
                background: #fff;
            }
            &:checked {
                &+label {
                    &:after {
                        position: absolute;
                        display: block;
                        content: '';
                        top: 21%;
                        left: 53%;
                        width: 8px;
                        height: 4px;
                        border: solid $main-color;
                        border-width: 0 0 3px 3px;
                        transform-origin: center center;
                        transform: rotate(-45deg) translate(-50%, -50%)
                    }
                }
            }
        } 
        p {
            width: 100%;
            max-width: 290px;
            font-size: 1.1rem;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .btn-delete {
            position: absolute;
            right: 0;
            width: 60px;
            height: 53px;
            border: 1px solid #ff424d;
            background: #ff424d;
            border-radius: 0 3px 3px 0;
            color: #fff;
            transform: translateX(100%);
            opacity: 0;
            transition: all .3s ease-out;
        }
        &:hover {
            .btn-delete {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
    &.completed {
        p {
            text-decoration: line-through;
        }
    }
}
.btn-clear {
    margin: 30px 0 10px;
    text-align: center;
    font: {
        size: 1.3rem;
        weight: 500;
    }
    color: darken($main-color, 2%);
}